p {
    font-size: 2em;
}

#TheGame {
    
    float: left;
}

#Question p{
    display: inline;
    
}

input{
    vertical-align: center;
    font-size: 2em;
    width: 80px;
}

button {
    height: 2em; 
}

.inline p{
    display: inline;
}

#modifiers {
    float: right;
    border: solid;
}

#operation {
    margin-top: 2em;
    float: right;
}

#modifiers p{
    padding: 1em;
}

.Score p{
    font-color: red;
    font-size: 2em;
}

