h1, h2, h3, h4, h5 {
    /* basic reset of heading styles, because we're doing our own margins and paddings */
    margin: 0 0 10px 0;
}

h1 {
    padding-left: 20px;
}

.GREEN {
    background: lightgreen;
}

.yellow {
    background: yellow;
}

.RED {
    background: red;
}

.BLUE {
    background: lightblue;
}

.AI_EASY {
    background: purple;
}


#Main,
#score,
#Commentary div,
#Turns div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-bottom: 2px;
}

#score div{
    border: 2px solid #000;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 80px;
}


#numbersavailable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#numbersavailable div{
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}

#settings {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


#settings div {
    border: 2px solid #000;
    margin-right: 10px;
    padding: 10px;
    
}

.hide div{
    display: none;
}



.used {
    display: none;
}

.number.winning {
    background: yellow;
    opacity: 0.5;
}


#buttons {
    display: flex;
    flex-direction: row;
}

#buttons input:nth-child(2) {
    margin-left: auto;
}    


@media screen and (max-width: 600px) {
    #Main,
    #Commentary div
    {
        justify-content: center;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}

.bold {
    font-weight: 700;
}

#Board .grid table{
    min-width: 200px;
}



.container-box {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}

.number {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    text-align: center;    
}

.container-box .settings-group label {
    margin-right: 20px; /* space the options out a bit */
}

/* both of these things are..kind of the same.. and these are the styles they share... */
#question.container-box .number,
#question.container-box .operator,
#question.container-box input[type=button]{
    float: left;
    padding: 16px 22px;
    font-size: 20px;
    font-weight: bold;
}


#status.container-box .text,
#status.container-box .score {
    float: left;
    padding: 16px 22px;
    font-size: 30px;
    font-weight: bold;
}



/* ... however numbers get a border on them as well */
#question.container-box .number,
#question.container-box input[type=button] {
    border: 2px solid #000;
}

#question.container-box .number,
#question.container-box .operator {
    cursor: default; /* stop it looking like text you can select the text */
}

#question.container-box input[type=button] {
    margin-left: 22px;
    background: #000;
    color: #fff;
    cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
