h1, h2, h3, h4, h5 {
    /* basic reset of heading styles, because we're doing our own margins and paddings */
    margin: 0 0 0px 0;    
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#container section {
    margin: auto;
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.grow {
    width: 300px;
}

#Commentary {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;   
}

#Commentary .start{
    align-self: flex-start;
}


table.center,
#customise-settings div {
    margin-left:auto; 
    margin-right:auto;
  }


  
.GREEN {
    background: lightgreen;
}

.YELLOW {
    background: yellow;
}

.RED {
    background: red;
}

.BLUE {
    background: lightblue;
}

.AI_EASY,
.AI_MED {
    background: purple;
}




#Main,
#score,
#customise-settings,
#Commentary div,
#Turns div {
    display: flex;
    flex-wrap: wrap;
    
    padding-bottom: 2px;
}



#score div{
    border: 2px solid #000;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    
}


#numbersavailable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#numbersavailable div{
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}

#settings {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#Players {
    border: 2px solid #000;
    margin: 10px;
    display: inline-block;
    text-align: center;
    
}

#rules {
    display: inline-block;
}

.padding {
    padding: 10px;
}

#customise_players {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}


#Players div,
#customise_players div {
    display: flex;
    margin: auto;
}

#new_players input {
    display: flex;
    margin: auto;
}

#Player2_column,
#Player1_column {
    flex-direction: column;
    
}

#new_players input {
    font-size: 16px;
}

#Player2_column div,
#Player1_column div {
    padding: 8px;
}

#Player2_column{
    border-left: 2px solid #000;
}

#customise_players option {
    text-align: center;
    text-align-last:center;
}

#settings {
    border: 2px solid #000;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    
}

#player_number_selector {
    border-top: 2px solid #000;
}

.hide div{
    display: none;
}

.used {
    display: none;
}

.number.winning {
    background: yellow;
    opacity: 0.5;
}


#buttons {
    display: flex;
    flex-direction: row;
}

#buttons input:nth-child(2) {
    margin-left: auto;
}    

#Commentary,
#settings {
    max-width: 300px;
    justify-content: center;
    text-align: center;
    
}


#Main,
#Commentary div,
body div
{
    justify-content: center;
    text-align: center;
    
}
h1 {
    text-align: center;
}


.bold {
    font-weight: 700;
}




.container-box {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}

.number {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    text-align: center;    
}

.container-box .settings-group label {
    margin-right: 20px; /* space the options out a bit */
}

/* both of these things are..kind of the same.. and these are the styles they share... */
#question.container-box .number,
#question.container-box .operator,
#question.container-box input[type=button]{
    float: left;
    padding: 16px 22px;
    font-size: 20px;
    font-weight: bold;
}


#status.container-box .text,
#status.container-box .score {
    float: left;
    padding: 16px 22px;
    font-size: 30px;
    font-weight: bold;
}



/* ... however numbers get a border on them as well */
#question.container-box .number,
#question.container-box input[type=button] {
    border: 2px solid #000;
}

#question.container-box .number,
#question.container-box .operator {
    cursor: default; /* stop it looking like text you can select the text */
}

#question.container-box input[type=button] {
    margin-left: 22px;
    background: #000;
    color: #fff;
    cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
